  <% if item.willbuy_user(current_user.id) %>
     <%= link_to item_willbuy_path(item_id: item.id, id: item.willbuy_user(current_user.id).id), method: :delete, id: "willbuy-button", remote: true do %>
       <i class="fas fa-hand-paper fa-lg"></i>
     <% end %>
       <%= willbuy_count  %>
       <p>買います</p>
  <% else %>
    <%= link_to item_willbuys_path(item), id: "willbuy-button", method: :post, remote: true do %>
      <i class="far fa-hand-paper fa-lg"></i>
     <% end %>
      <%= willbuy_count %>
      <p>買います</p>
  <% end %>
