<% if logged_in? %>

  <% if item.willbuy_user(current_user.id) %>
     <%= button_to item_willbuy_path(willbuy, item_id: item.id), method: :delete, id: "willbuy-button", remote: true do %>
     <i class="far fa-hand-paper"></i>
     <% end %>
     <span>
       <!-- <%= item.willbuy_count %> -->
     </span>
  <% else %>
    <%= button_to "Willbuy",  item_willbuys_path(item), id: "willbuy-button", remote: true %>
    <!-- ここにアイコンを追加 Willbuyを消してdo end 追加-->
    <span>
      <!-- <%= item.willbuy_count %> -->
    </span>
  <% end %>
  <!-- ここにサインインしていないときの処理 -->
<% end %>
