
  <div>
    <%= item.item_name %>
  </div>
  <div>
    <%= image_tag item.item_image.url if item.item_image.present? %>
  </div>
  <div>
    <%= item.item_cost %>
  </div>
  <div>
    <%= item.item_detail %>
  </div>
