<!-- <%= link_to 'New Item', new_item_path, remote: true, class: "btn btn-lg btn-primary" %> -->
<!-- remote: trueオプションをつけることで、リンクからの呼び出し先がnew.js.erbへ変わる -->
<!-- ボタンがあるページに下記を書く 下記はモーダルを表示させたいページに書く必要がある -->


<div class="item-list">
  <% @items.each do |item| %>

  <%= render 'tr', item: item %>

  <% end %>
</div>
